#basket-button {
  background-color: var(--darkblue);
  padding-inline: 1rem;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
}

#logo-container {
  min-width: 270px;
}

#logo-text-th {
  font-size: 0.95rem;
}
#logo-text-en {
  font-size: 1rem;
}

#contact-serach-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  margin-left: 2rem;
  position: relative;
  /* height: 60px; */
}

#q {
  border: 2px solid var();
  outline: none;
  padding-left: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
nav {
  background-color: var(--nav-bar);
  height: 30px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: var(--header);
}

.header-container, .header-container-m {
  width: 100%;
  max-width: 1400px;
  display: flex;
  height: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}

.header-container {
  display: flex;
}

.header-container-m {
  display:none;
  justify-content: space-around;
  padding-inline: 1rem;
}

#contact-serach-container-small {
  margin-inline: 1rem;
  flex-grow: 1;
  position: relative;
}

#menu-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  color: white;
  height: 55px;
  font-size: 1.2rem;
}

.menu-tab-container {
  display: flex;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  padding-inline: 1rem;
  padding-right: 4rem;
}

.by-category {
  background-color: #ad2d2d;
  border-bottom: 3px solid var(--red);
  display: flex;
  height: 67px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.2rem;
}


.menu-item {
  padding-inline: 2rem;
}

.left-line {
  border-left: 1px solid grey;
}

#detail {
  display: flex;
  justify-content: center;
  background-color: var(--lightgrey);
}

.detail-container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  /* padding-inline: 1rem; */
  background-color: var(--detail);
}

.category-container {
  width : 270px;
  margin-top: -67px;
  position: relative;
  flex-shrink: 0;
}

.category-container:before {
  position: absolute;
  content: "";
  border-bottom: 4px solid var(--red);
  border-right: 5px solid var(--red);
  border-top: 4px solid transparent;
  border-left: 5px solid transparent;
  top: 0px;
  left: -10px;
  height: 7px;
}

.category-container:after {
  position: absolute;
  content: "";
  border-bottom: 4px solid var(--red);
  border-right: 5px solid transparent;
  border-top: 4px solid transparent;
  border-left: 5px solid var(--red);
  top: 0px;
  right: -10px;
  height: 7px;
}

.category-list {
  background-color: var(--lightred);
  padding: 1rem;
  min-height: 80vh;
}

.link-text {
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.category-item p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--darkgrey);
}

.outlet-container {
  padding-inline: 0.5rem;
  width: 100%;
  /* flex-grow: 1; */
}

.paginator {
  text-align: right;
}

.paginator-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#p {
  width: 30px;
  text-align: center;
}

#category-hamburger {
  display: none;
  flex-grow: 0;
}

.category-container-m {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: visibility 0s, opacity 0.1s linear;
  z-index: 1;
  top: 60px;
}

#search-form {
  display: flex;
  width: 100%;
}

#q {
  flex-grow: 1;
}

#search-form, #q {
  /* width: 100%; */
  height: 40px;
  border-radius: 0.5rem 0 0 0.5rem;
}

#search-button {
  border-radius: 0 0.5rem 0.5rem 0;
  padding-inline: 0.5rem;
  background-color: var(--darkblue);
  border: 1px solid var(--darkblue);
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.category-container {
  display: none;
}

.left-line {
  border: none;
}

#contact {
  display: none;
}

.category-container-m {
  visibility: visible;
  opacity: 1;
}

.cat-list-close {
  visibility: hidden;
  opacity: 0;
}

#small-logo {
  width: 48px;
  text-align: center;
  padding-right: 1rem;
}

@media screen and (max-width: 900px) {
  .header-container {
    display: none;
  }
  .header-container-m {
    display: flex;
    padding-inline: 0.1rem;
  }

  .menu-item {
    padding: 0;
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
  }

  .menu-tab-container {
    height: 35px;
    padding: 0;
  }
  #menu-tab {
    height: 35px;
  }
  .small-search-button {
    max-width: 100%;
    max-height: 100%;
  }

  #search-button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-serach-container-small {
    margin-inline: 0;
  }
}