html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  list-style: none;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor:pointer;  
}

button, .selectable {
  cursor: pointer;
}

button:hover, .selectable:hover {
  scale: 1.03;
  opacity: 0.8;
  transition: all ease-in-out 0.1s
}