html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  list-style: none;
  text-decoration: none;
}

body, #root, .App {
  min-height: 100svh;
}

.App {
  display: flex;
  flex-direction: column;
}

#detail {
  flex-grow: 1;
}

:root {
  --red: #992828;
  --lightred: #cb3435;
  --darkblue: #193d73;
  --darkblue-hover: #3c5175;
  --darkgrey: #BDBDBD;
  --lightgrey: #f0f0f0;
  --nav-bar: #eeeeee;
  --header: white;
  --detail: white;
  /* --darkred:  */
}

/* :root {
  --red: #992828;
  --lightred: #cb3435;
  --darkblue: #7E1717;
  --darkblue-hover: #3c5175;
  --darkgrey: #BDBDBD;
  --lightgrey: #068DA9;
  --nav-bar: #7E1717;
  --header: #E55807;
  --detail: #ECF8F9;
} */

/* .App {
  overflow: hidden;
} */

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor:pointer;  
}

button, .selectable {
  cursor: pointer;
}

button:hover, .selectable:hover {
  scale: 1.03;
  opacity: 0.8;
  transition: all ease-in-out 0.1s
}

.nothing-here {
  display: flex;
  flex-direction: column;
}

.nothing-here p {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--darkgrey);
}

.go-back {
  margin-left: auto;
  align-self: flex-end;
  font-size: 1.2rem;
}